<h1>Privacy Policy</h1>
<p class="lead">Welcome to Consent Insights! This Privacy Policy outlines how we collect, use, store, and protect your information when you use our analytics tool "Consent Insights." Please take a moment to carefully read and understand our practices regarding your personal data and how we handle it. By using Consent Insights, you agree to the terms described in this Privacy Policy.</p>
<div>
	<ol>
		<li>
			<p class="m-0"><strong>Information We Collect</strong></p>
			<p>Consent Insights is an analytics tool designed to assess user cookie consent preferences. We collect the following information for aggregate analysis:</p>
			<ul class="mb-3">
				<li><strong>Consent Data:</strong> We collect and store information related to the cookie consent provided by users. This includes the level of consent provided: Required, Functional, and Advertising.</li>
				<li><strong>Device Information:</strong> We may collect certain information about the device you are using, such as the device type, operating system, and browser type.</li>
			</ul>
		</li>
		<li>
			<p class="m-0"><strong>How We Collect Information</strong></p>
			<p>We collect information through the use of session storage and local storage in your web browser. When you visit a website that utilizes Consent Insights, a boolean value is set in your browser's storage to indicate whether you have provided cookie consent.</p>
		</li>
		<li>
			<p class="m-0"><strong>How We Use Your Information</strong></p>
			<p>The information we collect is used solely for aggregate analysis and to provide insights into user cookie consent preferences. We do not use this information to identify individual users. The data is used for internal purposes only, such as improving our analytics tool and enhancing user experience.</p>
		</li>
		<li>
			<p class="m-0"><strong>Data Storage</strong></p>
			<p>The data we collect is stored in session storage and local storage in your browser. This data is maintained only for the duration of your browsing session and is not transferred to our servers or stored beyond your current visit.</p>
		</li>
		<li>
			<p class="m-0"><strong>Data Sharing</strong></p>
			<p>We do not share any of the data collected through Consent Insights with any third parties or institutions. The information is kept strictly confidential and is used only for our internal analysis.</p>
		</li>
		<li>
			<p class="m-0"><strong>Data Security</strong></p>
			<p>We take data security seriously and have implemented measures to protect the information collected through Consent Insights. However, please be aware that no method of transmission or storage is completely secure. While we strive to protect your personal information, we cannot guarantee its absolute security.</p>
		</li>
		<li>
			<p class="m-0"><strong>Your Choices</strong></p>
			<p>You can choose to disable cookies or modify your browser settings to reject the use of local storage and session storage. However, this may affect your experience while using Consent Insights and other websites.</p>
		</li>
		<li>
			<p class="m-0"><strong>Changes to this Privacy Policy</strong></p>
			<p>We may update this Privacy Policy from time to time to reflect changes in our practices or for legal reasons. We will notify users of any significant changes by posting the updated policy on our website or through other communication methods.</p>
		</li>
		<li>
			<p class="m-0"><strong>Contact Us</strong></p>
			<p>If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us at gabhawaladhairya@gmail.com.</p>
		</li>
	</ol>
</div>
<p>By using Consent Insights, you agree to the terms outlined in this Privacy Policy. If you do not agree with these terms, please do not use the application.</p>

<p>Thank you for trusting Consent Insights for your analytics needs.</p>
<p>Last updated: Sat, 26 August 2023</p>