<h1>Terms of Service</h1>
<p class="lead">Welcome to Consent Insights! These terms outline the rules and regulations for the use of our analytics tool. By accessing or using Consent Insights, you agree to abide by these terms. If you disagree with any part of these terms, please refrain from using our service.</p>
<div>
	<ol>
		<li>
			<p class="m-0"><strong>Usage Agreement:</strong></p>
			<p>Consent Insights is an analytics tool provided by [Your Company Name], which allows you to assess user consent for cookies on your website. By using this tool, you agree to only use it in compliance with applicable laws and regulations.</p>
		</li>
		<li>
			<p class="m-0"><strong>Consent Levels:</strong></p>
			<p>Consent Insights assesses user consent across three levels: Required, Functional, and Advertising. It counts and categorizes user consent based on these levels.</p>
		</li>
		<li>
			<p class="m-0"><strong>Data Collection:</strong></p>
			<p>Consent Insights uses session storage and local storage to set a boolean value in the visitor's browser, indicating whether the user has provided consent. This data is solely used for aggregate analysis purposes to determine consent patterns.</p>
		</li>
		<li>
			<p class="m-0"><strong>Data Privacy:</strong></p>
			<p>All data collected by Consent Insights is stored securely and used solely for aggregated analysis. We do not share this data with any third party or external institution.</p>
		</li>
		<li>
			<p class="m-0"><strong>User Privacy:</strong></p>
			<p>We respect user privacy. Consent Insights does not collect personally identifiable information or track individual user behavior.</p>
		</li>
		<li>
			<p class="m-0"><strong>Accuracy of Information:</strong></p>
			<p>While we strive to provide accurate and up-to-date information, Consent Insights is not responsible for any inaccuracies or discrepancies in the data presented.</p>
		</li>
		<li>
			<p class="m-0"><strong>Prohibited Activities:</strong></p>
			<p>Users are prohibited from using Consent Insights for any unlawful, harmful, or unauthorized purpose. This includes but is not limited to attempting to access or modify the tool's underlying code, interfering with its functionality, or engaging in any activity that could compromise data security.</p>
		</li>
		<li>
			<p class="m-0"><strong>Modifications to the Tool:</strong></p>
			<p>Consent Insights reserves the right to modify, suspend, or discontinue any aspect of the tool at any time without notice. We are not liable for any loss resulting from such actions.</p>
		</li>
		<li>
			<p class="m-0"><strong>Limitation of Liability:</strong></p>
			<p>Consent Insights is provided "as is" without any warranties, expressed or implied. We are not liable for any direct, indirect, incidental, or consequential damages resulting from the use or inability to use the tool.</p>
		</li>
		<li>
			<p class="m-0"><strong>Governing Law:</strong></p>
			<p>These terms are governed by and construed in accordance with the laws of Arkansas, United States, and any disputes relating to these terms shall be subject to the exclusive jurisdiction of the courts in Arkansas.</p>
		</li>
	</ol>
</div>

<h2>Privacy Policy:</h2>
<p>
Your privacy is important to us. Our Privacy Policy outlines how we collect, use, and safeguard your data. Please review our Privacy Policy for a detailed understanding of how we handle your information.

By using Consent Insights, you acknowledge that you have read, understood, and agreed to our Terms of Use and Privacy Policy. If you do not agree with any part of these terms, please refrain from using our service.

For any questions or concerns regarding our Terms of Use or Privacy Policy, please contact us at +1 501-555-5555.
</p>
<p>
Last updated: Sat, 26 August 2023
</p>